---
layout: header
---

<body class="page">
  <div class="masthead">
    <p class="logo"><a href="index.html">Skint 2011</a></p>
  </div>
	<div id="content">
	  {{ content }}
  </div>
	<div class="footer">
    <a href="/">Home</a> &ndash; 
    <a href="info.html">What is Skint?</a> &ndash; 
    <a href="practical.html">Practical stuff</a>  &ndash; 
    <a href="transport.html">Transport</a> &ndash; 
    <a href="programme.html">Programme</a> &ndash; 
    <a href="photos.html">Photos</a> &ndash; 
    <a href="constitution.html">Constitution</a>
	</div>
</body>
